.git
.venv*
__pycache__/
*.pyc
*.pyo
.pytest_cache/

artifacts/
build/
build_nopy/
outputs/

*.wav
*.mp3
*.flac
*.m4a
*.aac
*.aif
*.aiff

!examples/
!examples/**/*.wav
!examples/**/*.mp3
!examples/**/*.flac
!examples/**/*.m4a
!examples/**/*.aac
!examples/**/*.aif
!examples/**/*.aiff
